<template>
    <div class="page__footer">
        <ul class="arrows-pagination">
            <li class="arrows-pagination__item">
                <span v-if="data.current_page == 1" class="arrows-pagination__item-link">←&nbsp;сюда</span>
                <a v-else
                   @click="$emit('get-posts', {
                           page: data.current_page - 1,
                           //rating: rating
                   })"
                   title="На страницу назад (Alt + ←)"
                   class="arrows-pagination__item-link arrows-pagination__item-link_prev" id="previous_page"
                   href="#" rel="prev">←&nbsp;<span>сюда</span></a>
            </li>

            <li class="arrows-pagination__item">
                <a v-if="data.current_page != data.last_page"
                   @click="$emit('get-posts', {
                           page: data.current_page + 1,
                           //rating: rating
                   })"
                   class="arrows-pagination__item-link arrows-pagination__item-link_next" id="next_page"
                   href="#" rel="next"><span>туда</span>&nbsp;→</a>
                <span v-else class="arrows-pagination__item-link">туда&nbsp;→</span>
            </li>
        </ul>

        <ul class="toggle-menu toggle-menu_pagination" id="nav-pagess">

            <li v-if="data.current_page != 1" class="toggle-menu__item toggle-menu__item_pagination">
                <a @click="$emit('get-posts', {
                        page: 1,
                        //rating: rating
                   })"
                   href="#"
                   class="toggle-menu__item-link toggle-menu__item-link_pagination toggle-menu__item-link_bordered"
                   title="Первая страница" rel="">
                    <span class="icon-svg icon-svg_arrow-first">
                        <svg class="icon-svg" width="28" height="24" viewBox="0 0 28 24">
                            <path d="M8.452 5.455l2.93 3.192c.89.969 1.335 1.361 2.225 1.909h-13.608v2.773h13.634c-.838.5-1.492 1.102-2.252 1.913l-2.93 3.192 2.276 1.964 7.588-8.452-7.588-8.452-2.276 1.961zM24.297 0h3.087v23.891h-3.087v-23.891z"></path>
                        </svg>
                    </span>
                </a>
            </li>

            <template v-for="link in data.links">

                <li v-if="link.label == data.current_page && parseInt(link.label)" class="toggle-menu__item toggle-menu__item_pagination">
                    <span class="toggle-menu__item-link toggle-menu__item-link_pagination toggle-menu__item-link_active">
                        {{ link.label }}
                    </span>
                </li>

                <li v-else-if="parseInt(link.label)" class="toggle-menu__item toggle-menu__item_pagination">
                    <a @click="$emit('get-posts', {
                            page: link.label,
                            //rating: rating
                        })"
                       href="#" class="toggle-menu__item-link toggle-menu__item-link_pagination">
                        {{ link.label }}
                    </a>
                </li>

            </template>

            <li v-if="data.current_page != data.last_page" class="toggle-menu__item toggle-menu__item_pagination">
                <a @click="$emit('get-posts', {
                        page: data.last_page,
                        //rating: rating
                    })"
                   title="Последняя страница"
                   class="toggle-menu__item-link toggle-menu__item-link_pagination toggle-menu__item-link_bordered"
                   href="#" rel="">
                    <span class="icon-svg icon-svg_arrow-last">
                        <svg class="icon-svg" width="28" height="24" viewBox="0 0 28 24">
                            <path d="M8.452 5.455l2.93 3.192c.89.969 1.335 1.361 2.225 1.909h-13.608v2.773h13.634c-.838.5-1.492 1.102-2.252 1.913l-2.93 3.192 2.276 1.964 7.588-8.452-7.588-8.452-2.276 1.961zM24.297 0h3.087v23.891h-3.087v-23.891z"></path>
                        </svg>
                    </span>
                </a>
            </li>

        </ul>
    </div>
</template>

<script>
export default {
    name: "Pagination",
    props: [
        'data',
        'rating'
    ]
}
</script>
