<template>
    <li class="content-list__item content-list__item_post shortcuts_item" :id="'post_' + post.id">
        <article class="post post_preview" lang="ru">
            <header class="post__meta">
                <a :href="'/users/' + post.user.nick" class="post__user-info user-info"
                   title="Автор публикации">
                    <img :src="post.user.avatar" width="24" height="24" class="user-info__image-pic user-info__image-pic_small">
                    <span class="user-info__nickname user-info__nickname_small">{{ post.user.nick }}</span>
                </a>
                <span class="post__time">{{ post.publicationDate }}</span>
            </header>

            <h2 class="post__title">
                <a :href="'/post/' + post.id" class="post__title_link">{{ post.title }}</a>
            </h2>

            <div class="post__body post__body_crop ">
                <div class="post__text post__text-html  post__text_v1 ">
                    <span v-html="post.contentPreview"></span>
                </div>
                <a class="btn btn_x-large btn_outline_blue post__habracut-btn"
                   :href="'/post/' + post.id + '/#habracut'">Читать дальше &rarr;</a>
            </div>

            <footer class="post__footer">
                <ul class="post-stats  js-user_"
                    data-post-type="publish_ugc_ru,h_260,h_306,h_7773,h_19011,f_develop"
                    id="infopanel_post_316882">
                    <li class="post-stats__item">
                        <div class="post-stats__result" style="margin: 0px 10px;">

                            <span class="post-stats__result-icon">
                                <span class="icon-svg_votes" style="font-size: 22px; padding: 0 5px;  color: #9dd1e0;">
                                    &diams;
                                </span>
                            </span>
                            <span class="post-stats__result-counter voting-wjt__counter_positive"
                                  style="margin-left: 0px; padding: 0 5px;"
                                  :title="'Всего голосов ' + (post.votes.plusVotes + post.votes.minusVotes) + ': ↑' + post.votes.plusVotes + ' и ↓' + post.votes.minusVotes">
                                <span v-if="post.rating > 0">+</span>{{ post.rating }}
                            </span>

                        </div>
                    </li>
                </ul>
            </footer>
        </article>
    </li>
</template>

<script>
import route from '../route';

export default {
    props: [
        'post'
    ],
}
</script>

<style scoped>

</style>
