<template>
    <div class="layout__cell layout__cell_body">
        <div class="column-wrapper js-sticky-wrapper">
            <div class="content_left js-content_left">
                <div class="page-header page-header_full" id="hub_260">
                    <div class="page-header_wrapper">
                        <div class="media-obj media-obj_page-header">
                            <a href="https://habr.com/ru/hub/php/" class="media-obj__image">
                                <img
                                    src="//habrastorage.org/getpro/habr/hub/98a/7a8/831/98a7a88319d5644cdc627b5e04b47d0f.png"
                                    width="48" height="48" class="media-obj__image-pic"/>
                            </a>

                            <div
                                class="media-obj__body media-obj__body_page-header media-obj__body_page-header_hub">
                                <div class="page-header__stats">
                                    <div class="page-header__stats-value">78,92</div>
                                    <div class="page-header__stats-label">Рейтинг</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="page-header__info">
                        <h1 class="page-header__info-title">PHP</h1>
                        <span class="n-profiled_hub" title="Профильный хаб"></span>
                        <h2 class="page-header__info-desc">
                            Скриптовый язык общего назначения
                        </h2>
                    </div>
                </div>

                <rating-filter @get-posts="getPosts($event)"
                               :rating="rating"
                               :page="page"
                ></rating-filter>

                <div class="posts_list">
                    <ul class="content-list shortcuts_items">
                        <post-preview v-for="post in posts.data"
                                      :key="post.id"
                                      :post="post"
                        ></post-preview>
                    </ul>
                    <pagination @get-posts="getPosts($event)"
                                :data="posts"
                                :rating="rating"
                    ></pagination>
                </div>

            </div>

            <div class="sidebar">
                <div class="sidebar_right js-sidebar_right sidebar_content-area">

                    <div class="default-block default-block_sidebar" id="our-partners">
                        <div class="default-block__header">
                            <h3 class="default-block__header-title">Спонсоры сообщества</h3>
                        </div>
                        <div class="default-block__content">
                            <ul class="content-list content-list_partners-block">
                                <li class="content-list__item content-list__item_partners-block">
                                    <a href="https://u.tmtm.ru/vtb_sb_2020"
                                       onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block', 'sponsors', 'ВТБ'); }"
                                       rel="nofollow" class="partner-info">
                                        <div class="partner-info__head">
                                            <span class="partner-info__title">ВТБ</span>
                                            <img
                                                src="https://habrastorage.org/getpro/tmtm/pictures/dce/bfe/ca6/dcebfeca67166611a3fe63b567bb1a52.png"
                                                class="partner-info__image">
                                        </div>

                                        <div class="partner-info__description">
                                            Развивает и делает финансовые услуги доступными онлайн.
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="default-block__footer">
                            <a href="https://habr.com/ru/docs/companies/sponsorship/"
                               class="default-block__footer_link">Как стать спонсором?</a>
                        </div>
                    </div>


                    <div class="default-block default-block_sidebar" id="hubs-top-users">
                        <div class="default-block__header">
                            <h3 class="default-block__header-title">Вклад авторов</h3>
                        </div>
                        <div class="default-block__content">
                            <ul class="content-list сontent-list_top-users">
                                <li class="content-list__item content-list__item_top-users">
                                    <a href="https://habr.com/ru/users/pronskiy/"
                                       class="media-obj media-obj_link">
                                        <div class="media-obj__image">
                                            <img
                                                src="//habrastorage.org/getpro/habr/avatars/27f/b99/eb3/27fb99eb3e30e3221c5839e88be02395.jpg"
                                                class="user-pic__img" width="30" height="30"/>
                                        </div>

                                        <div class="media-obj__body">
                                            <div class="rating-info rating-info_top-1">
                                                <span class="rating-info__title">pronskiy</span>
                                                <span class="rating-info__stat">8 815,4</span>
                                            </div>
                                            <div class="rating-info__progress">
                                                <div class="rating-info__progress-scale"
                                                     style="width:100%;"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="default-block__footer">
                            <a href="https://habr.com/ru/hub/php/authors/" class="default-block__footer-link"
                               rel="nofollow">100 лучших авторов</a>
                        </div>
                    </div>

                    <div class="default-block default-block_sidebar" id="neuro-habr">
                    </div>

                </div>
            </div>
        </div>

        <div class="overlay hidden" id="js-vote-result">
            <div class="popup popup_reasons">
                <div class="popup__head">
                    <span class="popup__head-title js-result-popup_title"></span>
                    <button type="button" class="btn btn_small btn_popup-close js-hide_result-reason">
                        <svg class="icon-svg" width="12" height="12">
                            <use xlink:href=""/>
                        </svg>
                    </button>
                </div>
                <div class="popup__body">
                    <div class="js-reasons-vote_result-empty">Пока никто не указал причину минусов</div>
                    <div class="js-reasons-vote_result-content">
                        <div class="reasons-vote__title">Причины минусов</div>
                        <div id="js-result-popup_list"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

import axios from 'axios';
import route from '../route';
import PostPreview from "./PostPreview";
import Pagination from "./Pagination";

export default {
    components: {PostPreview, Pagination},
    data: function () {
        return {
            posts: [],
            rating: null,
            page: 1
        }
    },
    methods: {
        getPosts: function (args = {}) {
            // console.log(args);

            this.page = args.page ?? this.page;
            this.rating = typeof args.rating !== 'undefined' ? args.rating : this.rating;

            // console.log('page', this.page);
            // console.log('rating', this.rating);

            //'/api/posts?page=1?param'
            axios.get(route('getPosts'), {
                params: {
                    page: this.page,
                    rating: this.rating
                }
            }).then(response => {
                //console.log(response);
                this.posts = response.data.posts;
            });
        }
    },
    mounted() {
        this.getPosts();
    }
}
</script>
