<template>
    <div class="tabs">
        <div class="tabs__level tabs__level_bottom">
            <ul class="toggle-menu ">
                <li class="toggle-menu__item">
                    <a @click="$emit('get-posts', {
                        rating: null,
                        page: 1
                    })"
                       href="#"
                       :class="'toggle-menu__item-link ' + (rating == null ? 'toggle-menu__item-link_active' : '')" rel="nofollow"
                       title="Все публикации в хронологическом порядке">
                        Без порога
                    </a>
                </li>
                <li class="toggle-menu__item">
                    <a @click="$emit('get-posts', {
                        rating: 10,
                        page: 1
                    })"
                       href="#"
                       :class="'toggle-menu__item-link ' + (rating == 10 ? 'toggle-menu__item-link_active' : '')"
                       rel="nofollow" title="Все публикации с рейтингом 10 и выше">
                        ≥10
                    </a>
                </li>
                <li class="toggle-menu__item">
                    <a @click="$emit('get-posts', {
                        rating: 25,
                        page: 1
                    })"
                       href="#"
                       :class="'toggle-menu__item-link ' + (rating == 25 ? 'toggle-menu__item-link_active' : '')"
                       rel="nofollow" title="Все публикации с рейтингом 25 и выше">
                        ≥25
                    </a>
                </li>
                <li class="toggle-menu__item">
                    <a @click="$emit('get-posts', {
                        rating: 50,
                        page: 1
                    })"
                       href="#"
                       :class="'toggle-menu__item-link ' + (rating == 50 ? 'toggle-menu__item-link_active' : '')"
                       rel="nofollow" title="Все публикации с рейтингом 50 и выше">
                        ≥50
                    </a>
                </li>
                <li class="toggle-menu__item">
                    <a @click="$emit('get-posts', {
                        rating: 100,
                        page: 1
                    })"
                       href="#"
                       :class="'toggle-menu__item-link ' + (rating == 100 ? 'toggle-menu__item-link_active' : '')"
                       rel="nofollow" title="Все публикации с рейтингом 100 и выше">
                        ≥100
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: "RatingFilter",
    props: [
        'rating'
    ]
}
</script>
